<h3 class="text-center">Employees</h3>
<div class="container">
<% @users.each do|users| %>
	<div class="row">
	<% users.each do|user| %>
	  <div class="large-3 columns">
	  	<div class="user_name"><%= user.name %></div>
			<%= image_tag(user.avatar_url, class: 'avatar-image')%>	
	  	<div class="user_email"><%= user.email %></div>
	  	<div class="user_links">
	  		<%= link_to "View", user_path(user),class: 'button tiny secondary' %>
	  		<%= link_to "Edit", edit_user_path(user),class: 'button tiny alert' %>
	  	</div>
	  </div>
	<% end %>
	</div>	
<% end %>
<div class="row">
	<div class="text-center">
		<%= link_to "Add User", new_user_path(), class: 'button medium success' %>
	</div>
</div>
</div>