<%= nested_form_for(@leave_application) do |f| %>
  <% if @leave_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_application.errors.count, "error") %> prohibited this leave_application from being saved:</h2>

      <ul>
      <% @leave_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_date %><br>
    <%= f.date_select :application_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id,User.all,:id,:name %>
  </div>
  <div class="leave_dates">
    <%= f.fields_for :leave_dates %>
    <p><%= f.link_to_add "Add a date",:leave_dates%></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
