<fieldset>
  <%= f.link_to_remove "Remove this date",class: 'button tiny alert' %>
  <div class="row">
  <div class="large-6 columns">
  	<%= f.label :date %>
  	<%= f.text_field :date,class: 'dpk' %></div>
  <div class="large-6 columns">
  	<%= f.label :leave_period_id,"period" %>
  	<%= f.collection_select :leave_period_id,LeavePeriod.all, :id, :name %> </div>
  </div>
</fieldset>