<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#">Attendance</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li class="active"><%= link_to "Leave Analysis", leave_analysis_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Leave Applications", leave_applications_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Teams", teams_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Employees", users_path %></li>
            <li class="divider"></li>
          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
          <li class="has-form">
              <form>
                <div class="row collapse">
                  <div class="small-8 columns">
                    <input type="text">
                  </div>
                  <div class="small-4 columns">
                    <a href="#" class="alert button">Search</a>
                  </div>
                </div>
              </form>
            </li>
            <li class="divider show-for-small"></li>
            <li class="has-form">
            <% unless current_user.nil? %>
              <%= link_to "Log out", destroy_session_path(current_user),method: :delete %>
            <%else %>
              <%= link_to "Log in", new_user_session_path() %>
            <% end %>
            </li>
          </ul>
        </section>
      </nav>
        <% if flash[:error] %>
          <div id="flash" data-alert class="alert-box warning text-center">
                <%= h flash[:error] %>
            <a href="#" class="close">&times;</a>
          </div>       
        <% end %>
        <% if flash[:notice] %>
            <div id="flash" data-alert class="alert-box success text-center">
                <%= h flash[:notice] %>
            <a href="#" class="close">&times;</a>
           </div>   
        <% end %>
        <% if flash[:alert] %>
            <div id="flash" data-alert class="alert-box warning text-center">
                <%= h flash[:alert] %>
            <a href="#" class="close">&times;</a>
           </div>   
        <% end %>

    <div class="yield-content row">
        <article class="large-10 columns large-offset-1">
          
        <%= yield %>
        </article>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>